In [1]:
import numpy as np
import pandas as pd

In [2]:
p_a1 = .4
p_y1 = .6
N_D = 500
N_Z = 100
alpha = .9

In [3]:
p_a = [1-p_a1, p_a1]
p_y = [1-p_y1, p_y1]
p_yhat = [alpha, 1-alpha]

In [4]:
a = np.random.choice([0,1],p=p_a,size=N_D)
y = np.random.choice([0,1],p=p_y,size=N_D)
yhat =np.asarray([np.random.choice([yi,1-yi],p = p_yhat) for yi in y])
data = np.asarray([a,y,yhat]).T

In [5]:
df = pd.DataFrame(data=data,columns = ['a','y','y_hat'])
df.head(10)

   a  y  y_hat
0  1  0      0
1  0  1      0
2  0  1      1
3  0  1      0
4  1  0      0
5  1  1      1
6  0  1      0
7  0  1      1
8  1  0      0
9  1  0      0

In [6]:
df.groupby('a')['y'].mean()

a
0    0.57
1    0.61
Name: y, dtype: float64

In [7]:
df.groupby('a')['y_hat'].mean()

a
0    0.556667
1    0.580000
Name: y_hat, dtype: float64

In [26]:
yhat_means = []
for i in range(100):
    yhat_means.append(df.sample(frac=.1).groupby('a')['y_hat'].mean())
    
y_hat_res = pd.concat(yhat_means,axis=1)
y_hat_res = y_hat_res.T.reset_index()
y_hat_res.drop(columns = 'index', inplace = True)
y_hat_res.rename({0:'a=0',1:'a=1'},axis=1,inplace=True)
y_hat_res.describe()

a             a=0         a=1
count  100.000000  100.000000
mean     0.556330    0.566129
std      0.089856    0.113868
min      0.344828    0.312500
25%      0.500000    0.493421
50%      0.553640    0.583591
75%      0.617647    0.637987
max      0.741935    0.809524